#a1 {color: yellow;}
.lyginis {border: yellow;}


.k2 u {color: grey;}
h1.k3 {color: orangered;}

.k1 {
    color: darkred;
}
i {color: deeppink;
}
.k2 {
    background-color: darkgreen;
}
u {color: fuchsia;}
.k3 {
    word-spacing: 20px;
}
span {color: gold;} 